.root {
  min-height: 100vh;
  padding: 2.5% 0;
}

.inner {
  width: calc(var(--width-primary) - 7.5%);
  margin: auto;

  background: white;
  border-radius: var(--border-radius-primary);

  -webkit-box-shadow: var(--box-shadow-primary);
  -moz-box-shadow: var(--box-shadow-primary);
  box-shadow: var(--box-shadow-primary);

  img {
    width: 100%;
    max-height: 375px;
    margin: 0;

    object-fit: cover;
  }

  .text {
    padding: 1% 5%;

    .date {
      color: var(--color-text-tertiary);
    }

    .title {
      margin: 0;

      color: var(--color-text);
      font-size: 38px;
    }

    .tags {
      margin: 1.5% 0 0;
      color: var(--color-text-tertiary);
    }

    .post_text {
      color: var(--color-text);
      font-size: var(--font-size-small);
    }
  }
}

.root_skeleton {
  height: 100vh;
  padding: 3.5%;

  .skeleton {
    width: calc(var(--width-primary) - 7.5%);
    height: 100%;
    
    margin: auto;
    border-radius: var(--border-radius-primary);
  }
}